@import url('reset.css');

body {
    background-color: #000000;
}

h2 {
    font-size: 2rem;
    color: #33a8db;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 24px;

}

p {
    color: #ffffff;
}

section {
    margin: 100px auto;
}

.banner{
    background-image: linear-gradient(0, 0, 0, .6), rgba(49, 168,221, .2), rgba(0, 0, 0, .6), url('../images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 60px;
    border-bottom: 1px solid #33a8db80;
    border: 2px solid wheat;
}